body {
    font-family: Arial, sans-serif;
    background-image: url('./lebo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    background-color: moccasin;
}